.main {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  color: #111;
}
.main__header {
  margin-bottom: 10px;
}
.main__sub-header {
  font-size: 1em;
  margin-top: 0;
}
.weather__caption {
  font-weight: 300;
  font-size: 26px;
}
.weather__img {
  width: 400px;
}
